<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novel's Archive</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/books/index">All Books</a>
        <% if (user) { %>
            <a href="/books/new">Add a Book</a>
            <a href="/logout">Log Out</a>
        <% } else { %>
            <a href="/auth/google" class="login">LOG IN</a>
        <% } %>
        
    </div>

    <span onclick="openNav()">&#9776;</span>
    <script>
        function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
        }
        
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
        }
    </script>

    <div id="main">